@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Satoshi Variable';
  src: url('/fonts/Satoshi-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Neco Variable';
  src: url('/fonts/Neco-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gambetta Variable';
  src: url('/fonts/Gambetta-Variable.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gambetta Variable';
  src: url('/fonts/Gambetta-Variable.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
